.sidebar {
    background-color:white;
    position: fixed;
    bottom: 100px;
    top: 50px;
    left:0;
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    cursor: pointer;
}
.sidebar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    width: 62px;
    height: 72px;
}
.sidebar-icons p {
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 400;
    margin:2px 0;
}
.sidebar-icons:hover {
    background-color: rgb(206, 204, 204);
    border-radius: 10px;
}
.sidebar-icons img {
    width: 24px;
}